/* Main section */

.main {
  display:       grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr 1fr;

  width:  calc(100vw - 170px);
  height: calc(100vh - 140px);

  padding:      70px;
  padding-left: 100px;

  background-color:    #000000;
  background-image:    url('./images/back.png');
  background-size:     cover;
  background-position: 50% 50%;
}

.main__header,
.main__description {
  margin: 0;
}

.main__header {
  grid-area:    1 / 1 / auto / span 2;
  justify-self: start;
  align-self:   end;

  font-size: 56px;
  color: #ffffff;
}

.main__description {
  grid-area:    2 / 1 / auto / span 2;
  justify-self: start;
  align-self:   start;

  font-weight: 400;
}

.main__buttons {
  grid-area: 3 / 3 / auto / span 1;

  display:        flex;
  flex-direction: column;
}


/* Form section */

.form {
  display:  grid;
  grid-gap: 30px;

  background-color: #000000;
  /*height: 100vh;*/
  width: calc(100vw - 170px);
  height: calc(100vh - 140px);
  padding: 70px;
  padding-left: 100px;

  color: #139eca;
}

.form__header {
  margin: 0;
  font-size: 48px;
}

.form__form {
  display:        flex;
  flex-direction: column;
  align-items:    start;
}

.form__loading {
  display: flex;
  justify-content: flex-start;
}

.form__loading-text {
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 15px;
}

.form__results {
  display:  flex;
  overflow: hidden;
}

.form__results-list {
  overflow:  auto;
  min-width: 150px;
}

.form__result {
  padding: 7px;
  margin:  3px;
  color: #ffffff;
}

.form__result-critical {
  background-color: rgba(19, 158, 202, 0.5);
}

.form__result:focus {
  color: #139eca;
  transition: color ease .3ms;
}

.form__image {
  display:   flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.form__image img {
  width: 100%;
}

.form__image .button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 12px;
  padding: 5px 15px;
  height: 30px;
}

/*.form__image-brightness,
.form__image-contrast {
  position: absolute;
}*/

.form__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__inputfile + label {
    display: block;
    cursor: pointer;
}

.form__inputfile:focus + label,
.form__inputfile + label:hover {
}

.form__inputfile + label {
  padding: 15px 0;
}

/* Buttons */

.button {
  padding: 20px 60px;
  border: 1px solid rgba(255, 255, 255, 0.6);

  background: transparent;

  cursor: pointer;
  color: #ffffff;

  height: 80px;
  font-size: 24px;
  border-radius: 45px;
}

.button:hover {
    /*color: #139eca;*/
    background-color: rgba(19, 158, 202, 0.5);
    transition: background-color ease .3s;
}

.main__buttons > .button:not(:last-child) {
  margin-bottom: 20px;
}
